<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<title>TSA Chinese New Year</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
</head>
<body>
    <!-- 開場, 新年-->
	<div class="sect sectOne" id="1">
        <div class="text-block">
            <h1>新年晚會</h1>
            <p>Our Celebration</p>
            <p>Time</p>
            <p>Location</p>
        </div>
        <div class="bottom"><a href="#2">活動內容</a></div>

    </div>
    <!-- 白底背景 -->
    <div class="sect sectTwo" id="2">
        <div class="text-block">
            <h1>Mission</h1>
        </div>
        <div class="media-block">Tess</div>
    </div>

    <!-- 火鍋背景 -->
	<div class="subsect" id="3">
        <div class="text-block">
             <h1>Hotpot</h1>
            <p>Ingredient1</p>
            <p>Ingredient2</p>
            <p>Ingredient3</p>
        </div>
    </div>
    <!-- 白底 搭配 Event Gallery -->
	<div class="sect sectThree">
        <div class="text-block">
            <h1>Event Content</h1>
        </div>
        <div class="media-block"></div>
    </div>
    <!-- 抽獎背景 -->
	<div class="subsect">
        <div class="text-block">
             <h1>Lottery</h1>
            <p>3rd Prize</p>
            <p>2nd Prize</p>
            <p>1st Prize</p>
        </div>
    </div>
    <!-- 白底配地圖 -->
	<div class="sect sectFour">
        <div class="text-block">
             <h1>Ticket</h1>
            <p>Group price</p>
            <p>Member price</p>
            <p>Early Bird price</p>
        </div>
        <div class="media-block"></div>
    </div>
</body>
</html>